<p>home works!</p>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Cantida</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listapedido; let i = index;">
            <td>{{ item.name }}</td>
            <td>{{ item.descripcion }}</td>
            <td>Q. {{ item.precio }}</td>
            <td>{{ item.cantidad }}</td>
            <td>Q. {{ item.subtotal}}</td>
            <td>
                <button (click)="disminuirCantidad(i)">-</button>
                <button (click)="aumentarCantidad(i)">+</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Q. {{ total }}</td>
        </tr>
    </tbody>
</table>